.location-container{
    min-height: 100vh;
    margin-top: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em 0;
}

.location-wrapper{
    width: 700px;
    box-shadow: 0px 0px 19px 3px rgba(0,0,0,0.5);
    height: 90%;
    padding: 2em 2em;
   
}

.sender-reciever-name{
    display: flex;
    gap: 3em;
}



.sender-reciever-same{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: flex-start;
    width: 100%;
    gap: .5em;
}

.sender-reciever-same input{
    padding: 1em .5em;
    border-radius: .3em;
    border: 1px solid #808080;
}

.sender-reciever-same input::placeholder {
    color: #676D75;
    font-size: 1rem;
}

.form{
    height:  100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    
    
}

.form h3{
    text-align: center;
}

.sender-reciever-same input{
    width: 100%;

}

.sender-reciever-email{
    display: flex;
    gap: 2em;
}

.address_same{
    display: flex;
    flex-direction: column;
    gap: .5em;
}



.address_same input::placeholder {
    color: #676D75;
    font-size: 1rem;
}

.form .next-submit{
    background-color: #FF6B00;
    border: none;
    padding: .8em 0;
    color: white;
    font-size: 1.1rem;
    border-radius: .4em;
    cursor: pointer;
    width: 100%;
}

.address_same input{
    padding: 1em .5em;
    border-radius: .3em;
    border: 1px solid #808080;
    width: 100%;
}

.address_same input::placeholder{
    color: #676D75;
    font-size: 1rem;
}

@media (width <= 912px){
    .location-wrapper{
        width: 80%;
    }
}

@media (width <= 474px){
    .sender-reciever-name{
        flex-direction: column;
    }

    .sender-reciever-number{
        flex-direction: column;
    }
}

@media (width <= 428px){
    .location-wrapper{
        width: 70%;
    }
}