.hero_container {
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
  padding-inline: 1.25rem;
}

.hero_pattern {
  /* background-image: url(../../../assets//hero-pattern.png); */
  background-repeat: no-repeat;
  background-size: cover;
}

.hero_wrapper {
  display: flex;
  gap: 5em;
  margin: 0 auto;
  position: relative;
  max-width: 80rem;
  min-height: 85vh;
  padding: 3em 0;
}

.get_notified {
  text-decoration: none;
}

.hero_left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2em;
  height: 70%;
  clip-path: polygon(0 100%, 99% 100%, 100% 100%);
  opacity: 0;
  transform: translateY(100px);
  overflow: visible;
}

.hero_left h1 {
  font-weight: 700;
  font-size: clamp(3rem, 5vw, 4.375rem);
}

.hero_left p {
  font-size: clamp(0.85rem, 3vw, 1.125rem);
}

.hero_left a {
  text-decoration: none;
}

.logistics_text {
  color: var(--orangePrimary);
  position: relative;
}

.logistics_text::after {
  content: url('../../../assets/text-img.png');
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translate(-50%, 0%);
}

.app_download {
  display: flex;
  gap: 2em;
  z-index: 10;
}

.order {
  width: max-content;
  background-color: #ff6b00;
  padding: 1rem 2rem;
  border-radius: 0.5em;
  color: white;
  display: flex;
  align-items: center;
  gap: 0.5em;
  border: none;
  cursor: pointer;
  max-width: 16.56rem;
}

.app_download img {
  cursor: pointer;
  z-index: 1;
  max-width: 40% !important;
}

.hero_left p {
  max-width: 520px;
}

.hero_right {
  position: relative;
}

.hero_right .hero_both {
  width: 450px;
  max-width: unset;
}

.hero_right .payment {
  position: absolute;
  width: 15rem;
  right: 0;
  bottom: 25%;
  z-index: 1;
}

.hero_right .delivered {
  position: absolute;
  font-size: 0.875rem;
  width: 150px;
  top: 40%;
  left: 45%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.hero_star {
  position: absolute;
  width: clamp(1.5rem, 4vw, 2.25rem);
}

.hero_wrapper > :nth-child(1) {
  right: 30%;
}

.hero_wrapper > :nth-child(2) {
  bottom: 20%;
  left: 40%;
}

.hero_wrapper > :nth-child(3) {
  bottom: clamp(0rem, 20vw, 7rem);
  right: 0;
}

.hero_left.animate,
.hero_right.animate {
  opacity: 0; /* Updated to 0 */
  transform: translateX(0);
}

.orange__text {
  color: #ff6b00;
  text-wrap: nowrap;
  display: inline-block;
  min-width: 120px;
}

.call__text {
  color: black;
}

@media screen and (max-width: 980px) {
  .hero_right .hero_both {
    width: 400px;
  }
}

@media screen and (max-width: 928px) {
  .hero_right {
    width: 900px;
  }
  .hero_right .hero_both {
    width: 100%;
    max-width: 100%;
  }

  .hero_wrapper {
    align-items: center;
  }
}

@media screen and (max-width: 860px) {
  .hero_left h1 {
    font-size: clamp(2rem, 5vw, 2rem);
    font-weight: 600;
  }

  .hero_right {
    width: 420px;
  }

  .delivered,
  .payment {
    width: 50% !important;
    max-width: unset;
  }
}

@media screen and (max-width: 788px) {
  .hero_wrapper {
    flex-direction: column;
    align-items: flex-start;
    padding: 0em 0em;
    gap: 2em;
  }

  .hero_left p {
    max-width: 100%;
    margin-bottom: 0.7em;
  }

  .hero_right {
    align-self: center;
  }

  .hero_left {
    gap: 0.5em;
    margin-top: 2em;
  }

  .order {
    margin-top: 1.5rem;
  }

  .logistics_text::after {
    display: none;
  }

  .hero_wrapper > :nth-child(1) {
    bottom: 45%;
    left: 10%;
  }

  .hero_wrapper > :nth-child(2) {
    bottom: 20%;
    left: 40%;
  }

  .hero_wrapper > :nth-child(3) {
    bottom: 0;
    right: 0;
  }

  .call__text {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 494px) {
  .hero_right {
    width: 100%;
  }
}

@media screen and (max-width: 444px) {
  .app_download {
    gap: 1em;
  }

  .app_download img {
    width: 40%;
    max-width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .hero_left h1 {
    font-size: clamp(1.7rem, 5vw, 1.7rem);
  }
}
